<div class="yield-field">
  <h1>Welcome to DogMa! Please Select  a login option below: </h1>
  <br>
  <div class="login-options">
    <h2><a href="/shelters/login">Shelter Login Page</a></h2>
    <h2><a href="/owners/login"></a></h2>
  </div>
</div>
